@{

}
<div class="box box-primary">
    <form role="form">
        <div class="box-header text-right">
            <a href="~/Supplier">Back to List</a>
        </div>
        <div class="box-body">
            <div class="form-group">
                <label>Title:</label>
                <input type="text" class="form-control" placeholder="Ex: Sale Manager">
            </div>
            <div class="form-group row">
                <div class="col-sm-6">
                    <label>Fist Name:</label>
                    <input type="text" class="form-control" placeholder="Fist Name">
                </div>
                <div class="col-sm-6">
                    <label>Last Name:</label>
                    <input type="text" class="form-control" placeholder="Enter Last Name">
                </div>
            </div>
            <div class="form-group">
                <label>Address:</label>
                <input type="text" class="form-control" placeholder="Address">
            </div>
            <div class="form-group row">
                <div class="col-sm-6">
                    <label>Country:</label>
                    <select class="form-control">
                        <option value="">-- Choose Country --</option>
                        <option value="USA">USA</option>
                        <option value="UK">United Kingdom</option>
                        <option value="CHINA">China</option>
                        <option value="VN">Vietnam</option>
                    </select>
                </div>
                <div class="col-sm-6">
                    <label>City:</label>
                    <input type="text" class="form-control" placeholder="Ex: New Orleans">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-6">
                    <label>Birth Date:</label>
                    <input type="text" class="form-control" placeholder="Birth Date">
                </div>
                <div class="col-sm-6">
                    <label>Hire Date:</label>
                    <input type="text" class="form-control" placeholder="Hire Date">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-6">
                    <label>HomePhone:</label>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-phone"></i>
                        </div>
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="col-sm-6">
                    <label>Email:</label>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-envelope-o"></i>
                        </div>
                        <input type="text" class="form-control">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label>PhotoPath:</label>
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="fa fa-link"></i>
                    </div>
                    <input type="file" class="form-control" ">
                </div>

            </div>
            <div class="form-group row">
                <div class="col-sm-6">
                    <label>Notes:</label>
                    <input type="text" class="form-control" placeholder="notes">
                </div>
                <div class="col-sm-6">
                    <label>Password:</label>
                    <input type="text" class="form-control" placeholder="Password">
                </div>
            </div>
        </div>
        <!-- /.box-body -->
        <div class="box-footer">
            <button type="submit" class="btn btn-sm btn-primary">
                <i class="fa fa-save"></i> Save
            </button>
            <a class="btn btn-sm btn-default" href="~/Supplier">
                Cancel
            </a>
        </div>
    </form>
</div>
