@{

}
<div class="box box-primary">
    <form role="form">
        <div class="box-header text-right">
            <a href="~/Category">Back to List</a>
        </div>
        <div class="box-body">
            <div class="form-group">
                <label>Company Name:</label>
                <input type="text" class="form-control" placeholder="Enter Company Name">
            </div>
            <div class="form-group">
                <label>Description:</label>
                <input type="text" class="form-control" placeholder="Enter Description">
            </div>
        </div>
        <!-- /.box-body -->
        <div class="box-footer">
            <button type="submit" class="btn btn-sm btn-primary">
                <i class="fa fa-save"></i> Save
            </button>
            <a class="btn btn-sm btn-default" href="~/Category">
                Cancel
            </a>
        </div>
    </form>
</div>
